<%= wiki_page_style %>

<h1><%=wt 'Markdown Formatting Syntax' %></h1>
  
<div class="wiki_content">
	<h4>Text Styles</h4>
	<p><i>*This text will be italic*</i></p>
	<p><b>**This text will be bold**</b></p>
	<p><i>*You <b>**can**</b> combine them*</i></p>

	<h4>Embed Images</h4>
	<p>![Description](url)</p>
	<p>Example: ![Logo](/images/logo.png)</p>

	<h4>Links</h4>
	<p>[[Some page title]] - Link to another page within the wiki</p>
	<p><a href="http://example.com">http://example.com</a> - automatically linked!</p>
	<p>[Example Site](http://example.com) - <a href="http://example.com">Example Site</a></p>

	<h4>Blockquotes</h4>
	<p>As Kanye West said:<br><br>
	&gt; We're living the future so<br>
	&gt; the present is our past.</p>

  	<h4>Attachments</h4>
  	<p>To include an attachment in a wiki page, upload the attachment and then type <code>Attachment_#_Title</code> in the content area to include it with title <code>Title</code>.</p>
  	<p>For example, to include a .pdf file with the title "July Report", you would upload the file, look for its attachment number, and then type <code>Attachment_10_July_Report</code>. This will be turned into a link that says "July Report" and points to the file.</p>

  	<h4>Headers</h4>
	<p><h1># This is a top-level header</h1></p>
	<p><h2>## This is a level-2 header</h2></p>
	<p><h3>### This is a level-3 header</h3></p>

	<h4>Lists</h4>
<p><pre>* Item 1
* Item 2
  * Item 2a
  * Item 2b</pre></p>
<p><pre>1. Item 1
2. Item 2
  * Item 2a
  * Item 2b</pre></p>
</div>
	